:root {
    --pink: #E65C91;
    --main: #5a17ee;
    --main-shade: #6A2EEF;
    --darker: rgb(77, 77, 77);
    --turquoise: #4ae2e8;
    --main-lighter: #a4bcff;
    --white: #ffffff;
    --gray: #888888; 
}
html,
body {
    margin: 0;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    font-family: 'Poppins', sans-serif;
}

/* 
* Globals
*/
.spacing {
    padding-top: 100px;
    padding-bottom: 100px ;
}
.card {
    border-color: #eeeded;
    box-shadow: 4.871px 34.659px 30px 0px rgba(0, 0, 0, 0.06);
    border-radius: 10px;
}
.small-title {
    color: var(--pink);
    font-weight: 400;
}
.main-title {
    color: var(--main);
}
.gray-text {
    color: var(--darker);
}
.card .card-title {
    color: var(--main);
}
.card .card-text {
    color: var(--darker);
}
/* End Globals */


/* 
* Buttons
*/
#header-section .main-header .nav-link.pink-btn {
    background: var(--white);
    text-align: center;
    color: var(--main);
    border-radius: 90px;
    padding: .5rem 1.5rem;
    font-weight: 500;
}
#header-section .main-header .nav-link.pink-btn:hover,
button.pink-button:hover,
button.pink2-button:hover {
    background: var(--turquoise);
    color: var(--white);
    transition: ease 0.5s;    
}
.button:focus {
    box-shadow: none;
}
#site-banner .banner-title button.primary-button {
    background: var(--main-shade);
    color: var(--white); 
    padding: 0 1.2rem;
    border-radius: 90px;
}
#site-banner .banner-title button.primary-button:hover {
    background: var(--turquoise);
}
button.pink-button {
    position: relative;
    background: var(--white);
    color: var(--main);      
    padding: .8rem 1.5rem;
    border-radius: 90px;
    font-weight: 500;
}
button.blue-button {
    position: relative;
    background: var(--main);
    color: #fff;
    padding: .8rem 1.5rem;
    border-radius: 90px;
}
button.blue-button:hover {
    background: var(--pink);
    color: #fff;
    transition: ease 0.5s;
}
button.pink2-button {
    background: var(--pink);
    color: #fff;
    padding: .8rem 1.5rem;
    border-radius: 90px;
}
/* End Buttons */


/* 
* Navegation
*/
#header-section .main-header .navbar {
    padding: 0;
}
#header-section nav .navbar-brand img {
    width: 65px;
    height: 50px;
}
#header-section .main-header .navbar-nav a {
    color: var(--white);
}
#header-section .main-header .navbar-nav .active a {
    color: var(--pink);
}
#header-section .main-header .navbar-nav a:hover {
    color: var(--pink);
}
/* End Navegation */


/* 
* Banner Section
*/
#banner-bg {
    background: var(--main);
    min-height: 600px;
}
#site-banner .banner-title h3 {
    font-weight: 400;
    font-size: 1.5rem;
    color: var(--white);
}
#site-banner .banner-title h1 {
    color: var(--white);
    font-size: 4rem;
}
#site-banner .banner-title p {
    color: var(--white);
}
#site-banner .banner-title {
    padding-top: 20%;
}
#site-banner .banner-img {
   display: none;
}
/* End Banner Section */


/* 
* Main Card Section 
*/
#card-section {
    /* margin-top: -5rem; */
    padding: 0;
    /* margin-bottom: 150px; */
}
#card-section .card .card-body i {
    color: var(--main);
}
#card-section .card a {
    color: var(--pink);
}
/* End Card Section */


/* 
* About Section 
*/
#about-section {
    background: url(../img/small-first.png) no-repeat;
    width: 100%;
}
.profession-title {
    color: var(--darker);
}
/* End About Section */


/* 
* How Works Section 
*/
#how-works .card i {
    color: var(--pink);
}
/* End How Works Section */


/* 
* Feature Section 
*/
#features-section {
    background: url(../img/small-second.png);
    
}
#features-section .card {
    background: var(--main-lighter);
    border: none;
}
#features-section .card i {
    color: #fff;
}
#features-section .card-body .card-title {
    text-decoration: underline;
    text-decoration-color: var(--turquoise);
}
/* End Feature Section */


/* 
* Pricing Section
*/
#pricing-section .basic-plan {
    color: var(--main);
}
#pricing-section .card-title {
    font-weight: 400;
}
#pricing-section .price-title {
    font-size: 1.2rem;
}
#pricing-section .basic-plan .price {
    color: var(--pink);
    font-size: 4rem;
}
#pricing-section ul {
    list-style: none;
    padding: 0;
} 
#pricing-section .premium-plan {
    background: var(--main);
    color: #fff;
}
#pricing-section .premium-plan .card-title {
    color: #fff;
    font-weight: 400;
}
#pricing-section hr {
    background: #fff;
}
#pricing-section .premium-plan .price {
    font-size: 4rem;
}
#pricing-section .premium-plan button.white-button {
    background: #fff;
    padding: .8rem 1.5rem;
    border-radius: 90px;
    color: var(--pink);
}
#pricing-section .premium-plan button.white-button:hover {
    background: var(--pink);
    color: #fff;
    transition: ease 0.5s;
}
/* End Pricing Section */



/* 
*  Testimonials Section
*/
#testimonials-section {
    background: url(../img/last-bg.png) no-repeat;
    padding-top: 150px;
}
#testimonials-section .col-center {
    margin: 0 auto;
    float: none!important;
}
.carousel {
    margin-bottom: 170px;
    padding: 0 35px;
}
.carousel .item {
    color: var(--main);
    text-align: center;
    overflow: hidden;
    min-height: 290px;
}
.carousel .item .img-box {
    width: 135px;
    height: 135px;
    margin: 0 auto;
    padding: 5px;
    border: 1px solid var(--main-shade);
    border-radius: 50%;
}
.carousel .img-box img {
    width: 100%;
    height: 100%;
    display: block;
    border-radius: 50%;
}
.carousel p.about-paragraph {
    padding: 30px 0 10px;
    color: var(--darker);
}
.carousel .overview {
    font-style: italic;
    color: var(--pink);
}
.carousel .overview b {
    text-transform: uppercase;
    color: var(--main);
}
.carousel .carousel-control {
    width: 40px;
    height: 40px;
    margin-top: -20px;
    top: 50%;
    background: none;
}
.carousel .carousel-control i {
    line-height: 42px; 
    position: absolute;
    display: inline;
    color: var(--pink);
}
.carousel .carousel-indicators {
    bottom: -40px;
}
.carousel-indicators li,
.carousel-indicators li.active {
    box-shadow: none;
    outline: none;
    display: inline-block;
    border-radius: 90px;
    padding: 0;
    margin: 0px 3px;
    height: 10px;
    width: 10px;
    border: 1px solid var(--pink);
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    cursor: pointer;
}
.carousel-indicators li {
    background: #999;
    border-color: transparent;
}
.carousel-indicators li.active {
    background: var(--pink);
}
#call-card {
    margin: -6.5rem 0;
    padding: 0;
}
/* End Testimonials Section */


/* 
* Footer Section
*/
#footer-section {
    background: var(--main);
    color: #fff;
    padding-bottom: 10px;
}
#footer-section .page-content-links h4 {
    margin-bottom: 20px;
}
#footer-section .page-content-links li a {
    color: #fff;
}
#footer-section .page-content-links .list-unstyled li {
    display: flex;
    margin-bottom: 25px;
}
#footer-section .list-unstyled i {
    background: var(--pink);
    line-height: 45px;
    height: 45px;
    width: 45px;
    font-size: 18px;
    text-align: center;
    border-radius: 90px;
}
#footer-section .list-unstyled span {
    margin-top: 10px;
    margin-left: 10px;
}
#footer-section .social-icons ul {
    margin: .5rem;
}
#footer-section .footer-copyright {
    font-size: 14px;
}
/* End Footer Section */



@media (min-width: 768px) {
    #header-section nav .navbar-brand img {
        width: 80px;
        height: 65px;
    }
    #site-banner .banner-title {
        padding-top: 15%;
    }
    #how-works .card .icon {
        text-align: center;
    }
    #how-works .col-lg-12,
    #features-section .col-lg-12,
    #testimonials-section .col-lg-12 {
        text-align: center;
    }
    .carousel {
        padding: 0 70px;
    }
    #pricing-section .card {
        margin-left: 0!important;
        margin-right: 0!important;
    }
}

@media (min-width: 992px) {
    #header-section .main-header .navbar-nav a {
        padding-right: 1.2rem;
    }
    #banner-bg {
        background: url(../img/main-bg.png);
        min-height: 880px;
    }
    #site-banner .banner-title h1 {
        font-size: 6.25rem;
    }
    #site-banner .banner-img {
        display: contents;
    }
    #site-banner .banner-img img {
        padding-top: 5%;
    }
    #site-banner .small-screen-img {
        display: none;
    }
    #about-section {
        background: url(../img/first-bg.png) no-repeat;
        width: 100%;
    }
 }

 @media (min-width: 1200px) { 
    .container-fluid {
       max-width: 1200px;
    }
 }
